@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover {
  /* text-decoration: underline; */
  opacity: 0.5;
}

.silkscreen {
  font-family: var(--font-silkscreen);
}

.roboto {
  font-family: var(--font-roboto);
}

.ptmono {
  font-family: var(--font-ptmono);
}

.montserrat {
  font-family: var(--font-montserrat);
}

/* h1 {
  font-family: var(--font-silkscreen);
} */

/* p {
  font-family: var(--font-roboto);
} */

/* body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
} */
